body{
    margin: 0;
    padding: 0;
}

.content-body{
    background-color: #f2f7f4;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-calculator {
    width: 500px;
    height: 400px;
    background: rgb(121, 175, 245);
    border-radius: 10px;
    box-shadow: 2px 1px 29px 6px rgba(0, 0, 0, 0.3);
    padding: 20px 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 85px;
    grid-gap: 10px;
}

.screen{
    background-color: #ade4e7;
    border-radius: 10px;
    color:rgba(112, 114, 114, 0.993);
    padding: 15px;
    grid-column: 1 / 5;
    border-bottom: #22a340;
}

.screen > input{        
    background: none;
    color: inherit;
    border:5px ;
    padding: 0;
    outline: none;
    font-size: 50px;
    width: 100%;
}

.btn-cal{
    background-color: white;
}

.btn-cal-radius{
    border-radius: 12px;
}

.btn-cal > input{
    border: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    outline: none;
    color: #7e7e7e;
    font-size: 35px;
}

.btn-cal > .equal{
    background-color: #fffb88;
}

.btn-cal > .clean{
    background-color: #51ce6a;
}

.btn-cal :hover{
    transition-duration: 0.4s;
    background-color: grey;
    color: white;
    
}

.btn-clean :hover{
    transition-duration: 0.4s;
    background-color: #22a340;
    color: white;
    
}
.btn-equal :hover{
    transition-duration: 0.4s;
    background-color: #f1ee2a;
    color: black;
}